{% block start %}

<!DOCTYPE html>
{% load static %}
{% csrf_token %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForgetPassword</title>
    <link rel="stylesheet" href="{% static '/forgetpass.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static '/images/SmartBite.png' %}">
    <script src="https://kit.fontawesome.com/0b5a3de497.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&family=Press+Start+2P&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <header>
        {% include 'pages/navbar.html' %}
    </header>
    <main>
        <div class=wrapper>
            <form action='#' method="post">
                {% csrf_token %}

                <h2>Forget Password.</h2>
                
                {% if messages %}

                {% for message in messages %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}

                <div><input type="email" id="email" name="email" placeholder="email"></div>
                <button>Submit</button>
            </form>
        </div>
    </main>
</body>
</html>
{% endblock %}
