<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Passowrd</title>
    {% load static %}


    <link rel="stylesheet" href="{% static '/login.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static '/images/SmartBite.png' %}">
    <script src="https://kit.fontawesome.com/0b5a3de497.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&family=Press+Start+2P&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<header>

    {% include 'pages/navbar.html' %}

</header>
<div class="wrapper2">
        <h1 class="reg">Reset Your Passowrd</h1>
        
        <form method ="post" action="#">
            {{ form.as_p }}  

            <p><input class="btn-reg" type="submit" value="Send E-Mail"></p>          
            <!-- <button class="btn-reg" type="submit">Reset Password</button> -->
            {% csrf_token %}

        </form>

</div>
</body>
</html>