{% load static %}
{% block start %}

{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/change_password.css' %}">

    <title>ChangePassword</title>
</head>
<body>
    <head>
        {% include 'pages/navbar.html' %}
    </head>

    <main>
        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

    </main>

    <footer>
        {% include 'pages/footer.html' %}
    </footer>
</body>
</html>

{% endblock %}
