.footer{
    background-color: var(--primary-color);
    padding: 80px 0;
}
.footer-col{
    width: 20%;
    
    padding: 0 15px;
}

.footer-col h4{
    font-size: 16px;
    color: var(--secondary-color);
    text-transform: capitalize;
    margin-bottom: 35px;
    margin-left: 30px;
    font-weight: 500;
    position: relative;
    background-color: var(--three-scolor);

    text-align: center 12px;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: skyblue;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 300;
    
    color: #bbb;
    display: block;
}
.footer-col ul li a:hover{
    color: var(--secondary-color);
    padding-left: 6px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 2%;
    background-color: rgba(255,255,255,0.2);
    margin-right: 0 10px 10px 0 ;
    margin-left: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--secondary-color);
    transition: all 0.5s ease;
}

.footer-col  .social-links a:hover{
    color: #242424;
    background-color: #bbb;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}