{% load static %}

<link rel="stylesheet" href="{% static '/footer.css' %}">


<footer class = "footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="about_us/">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">Application Programming</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Login System</a></li>
                    <li><a href="#">others</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Project</h4>
                <ul>
                    <li><a href="#">Coming Soon</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/SmartBite0"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/smartbite0/"><i class="fa-brands fa-square-instagram"></i></a>
                    <a href="https://twitter.com/SmartBite3"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://discord.gg/sw2PnkHP2T"><i class="fa-brands fa-discord"></i></a>
                </div>
            </div>
        </div> 
    </div>


</footer>