<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/navbar.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static '/images/SmartBite.png' %}">
    <script src="https://kit.fontawesome.com/0b5a3de497.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&family=Press+Start+2P&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <header>
        <div class="wrapper">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="#">Project</a></li>
                    <li><a href="#">API</a></li>
                    <li><a href="/account">ACCOUNT</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
</body>
</html>
